<p id="notice"><%= notice %></p>

<h2>
  <%= @user.first_name %> <%= @user.last_name %>
</h2>

<h2>
  <%= @user.email %>
</h2>
<% if !@user.linked_in.blank?%>
	<a href= <%=url_with_protocol(@user.linked_in)%> ><i class='fa fa-linkedin  fa-4x'></i></a>
<% end %>
<p>
<% if !@user.github.blank?%>
	<a href=<%=url_with_protocol(@user.github)%>><i class='fa fa-github  fa-4x'></i></a>
<% end %>

<br>

<%= link_to 'Edit', edit_user_path(@user) %>
<!--%= link_to 'Back', users_path %-->
