<p id="notice"><%= notice %></p>

<h1>
  <%= @public_list.name %>
</h1>

<p>
  <%= @public_list.description %>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th>Address</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
  	<% puts "**public_lists show" %>
  	<%puts @public_list.place_ids %>
  	<% puts "**public_lists show END----" %>
    <% @public_list.places.each do |place| %>
      <tr>
        <% puts "**SHOWing" %>
        <% puts place %>
        <td><%= place.name %></td>
        <td><%= place.rating %></td>
        <% puts place.address %>
        <%if place.address %>
          <td><%= place.address.full_address %></td>
        <% else %>
          <td><%= "" %></td>
        <% end %>
        <% if session[:user_id] != nil%>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if session[:user_id] != nil%>
  <%= link_to 'Edit', edit_public_list_path(@public_list) %> |
  <%= link_to 'Back', public_lists_path %>
<% end %>
