<% puts "**hello from _form" %>
<% puts @current_user %>
<% puts places_path %>
<%= form_for(@current_user.places.build) do |f| %>
   <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  <% puts "**_form inside" %>
  <%= f.fields_for :places do |p| %>
    <% puts "**_form places" %>
    <div class="field">
      <%= p.label :name %><br>
      <%= p.text_field :name %>
    </div>
    <div class="field">
      <%= p.label :rating %><br>
      <%= p.number_field :rating %>
    </div>
    <div class="field">
      <%= p.label :public_place %><br>
      <% if @place.public_place == false %>
      <%= p.check_box :public_place, {}, "true", "false" %>
      <% else %>
      <%= p.check_box :public_place, {checked: true}, "true", "false" %>
      <% end %>
    </div>
    <div class="actions">
      <%= p.submit "Submit"%>
    </div>
  <% end %>
<% end %>