<h1>Your Places:</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th>Address</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.rating %></td>
        <%if place.address %>
          <td><%= place.address.full_address %></td>
        <% else %>
          <td><%= "" %></td>
        <% end %>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ Add a Place', new_place_path %>
<br>
<br>
<% if !@places.empty? %>
  <h3><%= link_to 'View Public Lists', public_lists_path %></h3>
  <br>
  <%= link_to '+ Add a Public List', new_public_list_path %>
<% end %>
