<p id="notice"><%= notice %></p>

<h1>
  <strong><%= @place.name %></strong>
</h1>

<h2>
  <strong>Rating:</strong>
  <%= @place.rating %>
</h2>

<h2>
  <strong>Address:</strong>
  <%if @place.address %>
    <%= @place.address.full_address %>
  <% else %>
    <%= "N/A" %>
  <% end %>
</h2>

<% if session[:user_id] != nil%>
<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
<% end %>
